:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main);
}

.card-container {
  width: 100%;
  max-width: 300px;
  background-color: var(--very-dark-blue-card);
  height: 500px;
  margin: 50px auto;
  border-radius: 1rem;
  padding: 20px;
}

.card-nft {
  position: relative;
  width: 260px;
  margin: 0 auto;
  height: 260px;
  border-radius: 0.4rem;
  display: flex;
}

.img-equilibrium {
  border-radius: 0.4rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 0.4rem;

  &&:hover {
    background-color: hsl(178, 100%, 50%, 0.4);
    cursor: pointer;
  }
}

.overlay:hover .eye-hover {
  display: block;
}

.eye-hover {
  align-self: center;
  display: none;
}

.textos {
  margin-top: 20px;
}

.card-titulo {
  color: var(--white);
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;

  &&:hover {
    color: var(--cyan);
    cursor: pointer;
  }
}

.card-parrafo {
  color: var(--soft-blue);
  font-weight: 300;
  margin-bottom: 20px;
}

.card-precio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--soft-blue);
}

.alineacion {
  display: flex;
  flex-direction: row;
  height: 1rem;
  align-items: center;
}

.card-ethereum {
  color: var(--cyan);
  margin-left: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}

.card-dias {
  color: var(--soft-blue);
  margin-left: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.card-dias-restantes {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.creador {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.img-avatar {
  height: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 10px;
}

.card-section-creador {
  color: var(--soft-blue);
  font-weight: 400;
}

.card-creador-nombre {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 5px;

  &&:hover {
    color: var(--cyan);
    cursor: pointer;
  }
}

/** Atropos */

/* Efectos 3D adicionales */
.my-atropos {
  width: 350px;
  height: 550px;
  margin: 50px auto;
}

.card-container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
